

body{
    background-color: #f0f2f5;
}

.logo img {
    height: 106px;
}

.text .principal{
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 32px;
  width: 500px;
  
}

.container-form {
    width:396px ;
    height:315px;
    background-color: #fff;
    border: 8px #fff solid;
    position: relative;
    left: 50%;
    
    
}

#texto , #password{
    padding:14px 16px;
    font-size: 17px;
    margin: 5px;
    width: 332px;
    
}   

button{
    background-color: #1877f2;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: #ffffff;
    box-sizing: content-box;
    font-size: 17px;
    border-radius: 6px;
    border:none ;
    margin: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc
}


.reset {
    color: #385898;
    text-decoration: none;
}


.criar{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #42b72a;
    padding: 12px;
    line-height: 48px;
    border-radius: 6px;
    white-space: nowrap;
    text-decoration: none;
    margin:  0 5px;
  

}

div{
    text-align: center;
}